<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../common/head') -%>
    <title>CUHA-ON</title>
  </head>

  <body>
    <header class="admin-header">
      <div class="admin-header__logo"></div>
      <div class="admin-header__component">
        <!-- <form action="#" name="searchbox" style="display: inline">
                    <input class="admin-header__component-search" name="search" type="text" placeholder="검색" autocomplete="off" />
                </form> -->
        <a
          href="/admin/logout"
          class="admin-header__component-button"
          style="margin-left: 2rem"
          >로그아웃</a
        >
      </div>
    </header>
    <main
      class="ad"
      style="overflow: hidden; height: 90rem; width: 190rem; clear: both"
    >
      <div class="admin-dashboard">
        <div class="admin-dashboard__left">
          <a
            href="/admin/members"
            class="
              admin-dashboard__left-menu admin-dashboard__left-menu__selected
            "
            >Members</a
          >
          <a href="/admin/wargame" class="admin-dashboard__left-menu"
            >Wargame</a
          >
          <a href="/admin/forum/freeBoard" class="admin-dashboard__left-menu"
            >ForumFreeBoard</a
          >
          <a href="/admin/forum/QnABoard" class="admin-dashboard__left-menu"
            >ForumQnABoard</a
          >
        </div>
        <div class="admin-dashboard__right">
          <div class="admin-dashboard__right-components">
            <h1 class="admin-dashboard__right-components__title">
              Members - Add / Update
            </h1>
            <!-- <a class="admin-dashboard__right-button">개시물 작성 (필요합니까?)</a> -->
            <div
              class="admin-dashboard__right-list"
              style="margin-top: 2rem; padding-bottom: 0rem"
            >
              <form action="/admin/members/create" method="POST">
                <div class="admin-dashboard__right-list__classes">
                  <h3 class="admin-dashboard__right-list__classes-title">
                    사용자 정보 작성
                  </h3>
                  <div style="height: 5rem"></div>
                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>이메일 :</p>
                    <input
                      type="email"
                      placeholder="이메일을 입력하세요"
                      name="email"
                      required
                    />
                  </div>
                  <p class="admin-dashboard__right-list__classes-errorBlock">
                    <%= (typeof errors === 'undefined') ? '' : (errors &&
                    errors.email) ? `${errors.email}` : '' %>
                  </p>

                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>닉네임 :</p>
                    <input
                      type="text"
                      placeholder="닉네임을 입력하세요"
                      name="nickname"
                      required
                    />
                  </div>
                  <p class="admin-dashboard__right-list__classes-errorBlock">
                    <%= (typeof errors === 'undefined') ? '' : (errors &&
                    errors.nickname) ? `${errors.nickname}` : '' %>
                  </p>

                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>비밀번호 :</p>
                    <input
                      type="password"
                      placeholder="비밀번호 입력"
                      name="password"
                      required
                    />
                  </div>
                  <p class="admin-dashboard__right-list__classes-errorBlock">
                    <%= (typeof errors === 'undefined') ? '' : (errors &&
                    errors.password) ? `${errors.password}` : '' %>
                  </p>

                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>비밀번호 재입력 :</p>
                    <input
                      type="password"
                      placeholder="비밀번호와 동일하게"
                      name="cfm_password"
                      required
                    />
                  </div>
                  <p class="admin-dashboard__right-list__classes-errorBlock">
                    <%= (typeof errors === 'undefined') ? '' : (errors &&
                    errors.cfm_password) ? `${errors.cfm_password}` : '' %>
                  </p>

                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p>프로필 사진 :</p>
                    <input type="file" name="file" />
                  </div>
                  <div class="admin-dashboard__right-list__classes-itemBlock">
                    <p></p>
                    <input
                      class="
                        admin-dashboard__right-list__classes-itemBlock__submit
                      "
                      type="submit"
                      value="저장"
                    />
                  </div>
                </div>
              </form>
            </div>

            <!-- ---------------------- paging ---------------------- -->
            <!-- <div class="admin-dashboard__right-paging">
                            <a href="#" class="admin-dashboard__right-paging__item"><</a>
                            <a href="#" class="admin-dashboard__right-paging__item admin-dashboard__right-paging__item-selected">1</a>
                            <a href="#" class="admin-dashboard__right-paging__item">2</a>
                            <a href="#" class="admin-dashboard__right-paging__item">3</a>
                            <a href="#" class="admin-dashboard__right-paging__item">></a>
                        </div> -->
          </div>
          <div class="admin-logo">
            <img src="../images/logo_nocolor.svg" alt="" />
          </div>
        </div>
      </div>
    </main>
  </body>

  <script>
    var isMenuOpened = false;
  </script>
</html>
