<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />

    <title>cuha-on</title>
  </head>

  <body>
    <%- include('./common/header') -%>

    <main class="main">
      <div class="main__area3" style="padding: 13rem 0">
        <div class="main__area3-loginForm">
          <form action="/auth/join" method="post">
            <h1>회원가입</h1>
            <br />
            <br />

            <input
              type="text"
              name="email"
              placeholder="이메일"
              value="<%= (typeof values === 'undefined') ? '' : `${values.email}` %>"
            />
            <p style="color: red">
              <%= (typeof errors === 'undefined') ? '' : (errors &&
              errors.email) ? `${errors.email}` : '' %>
            </p>
            <!-- <div class="main__area3-loginForm__nofill" id="invalid-0">
              <p>입력란이 비었거나 올바른 이메일 형식이 아닙니다.</p>
            </div> -->

            <br />
            <br />
            <br />
            <input
              type="text"
              name="nickname"
              placeholder="닉네임"
              value="<%= (typeof values === 'undefined') ? '' : `${values.nickname}` %>"
            />
            <p style="color: red">
              <%= (typeof errors === 'undefined') ? '' : (errors &&
              errors.nickname) ? `${errors.nickname}` : '' %>
            </p>

            <br />
            <br />
            <br />
            <input
              type="password"
              name="password"
              placeholder="비밀번호"
              value="<%= (typeof values === 'undefined') ? '' : `${values.password}` %>"
            />
            <p style="color: red">
              <%= (typeof errors === 'undefined') ? '' : (errors &&
              errors.password) ? `${errors.password}` : '' %>
            </p>

            <br />
            <br />
            <br />
            <input
              type="password"
              name="cfm_password"
              placeholder="비밀번호와 동일하게"
              value="<%= (typeof values === 'undefined') ? '' : `${values.cfm_password}` %>"
            />
            <p style="color: red">
              <%= (typeof errors === 'undefined') ? '' : (errors &&
              errors.cfm_password) ? `${errors.cfm_password}` : '' %>
            </p>

            <br />
            <br />
            <br />
            <br />

            <input type="submit" value="가입하기" />
          </form>
        </div>
        <!--  -->
        <div style="text-align: center; padding-top: 4rem; font-size: 1.4rem">
          <p>
            이미 회원가입 하셨나요?
            <a href="/auth/login" class="main__area3-isFirstVisitor">
              로그인
            </a>
          </p>
        </div>
      </div>
    </main>

    <%- include('./common/footer') -%>
  </body>
</html>
