<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../common/forumHead') -%>
    <title>CUHA-ON Forum</title>
  </head>
  <body>
    <%- include('../common/forumHeader') -%>

    <main class="forum-main">
      <div class="navi"><%- include('../common/forumNavi') -%></div>

      <section class="main-recent">
        <h1 class="title font-header">포인트 랭킹 <span>주간</span></h1>

        <div class="rank_box">
          <!-- item -->
          <div style="display: inline-block">
            <div
              class="rank_box-small"
              id="2nd"
              style="background-image: url(../images/no_profile.jpg)"
            >
              <p style="background-color: silver">2</p>
            </div>
            <br />
            <p class="rank_box-point" style="">
              <%- rank[1].point %><span>pt</span>
            </p>
            <br />
            <p class="rank_box-name" style=""><%- rank[1].nickname %></p>
          </div>
          <!-- item -->
          <div style="display: inline-block">
            <div
              class="rank_box-big"
              id="1st"
              style="background-image: url(../images/no_profile.jpg)"
            >
              <p style="font-size: 2rem; background-color: gold">1</p>
            </div>
            <br />
            <p class="rank_box-point" style="">
              <%- rank[0].point %><span>pt</span>
            </p>
            <br />
            <p class="rank_box-name" style=""><%- rank[0].nickname %></p>
          </div>
          <!-- item -->
          <div style="display: inline-block">
            <div
              class="rank_box-small"
              id="3rd"
              style="background-image: url(../images/no_profile.jpg)"
            >
              <p style="background-color: brown">3</p>
            </div>
            <br />
            <p class="rank_box-point" style="">
              <%- rank[2].point %><span>pt</span>
            </p>
            <br />
            <p class="rank_box-name" style=""><%- rank[2].nickname %></p>
          </div>
        </div>

        <a href="/forum/ranking.html" class="forum-section-more">더 보기</a>
      </section>

      <section class="main-recent">
        <h1 class="title font-header">자유 게시판 <span>최신 글</span></h1>

        <div class="posts">
          <% posts.forEach(function(post){ %>
          <a href="#" class="posts-item">
            <%= post.title %><span>10</span>
          </a>
          <% }) %>
        </div>

        <a href="/forum/board.html" class="forum-section-more">더 보기</a>
      </section>

      <section class="main-recent">
        <h1 class="title font-header">질문 게시판 <span>최신</span></h1>

        <div class="posts">
          <% posts.forEach(function(post){ %>
            <a href="#" class="posts-item">
              <%= post.title %><span>10</span>
            </a>
            <% }) %>
        </div>

        <a href="/forum/board.html" class="forum-section-more">더 보기</a>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
