<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../common/head') -%>
    <title>CUHA-ON</title>
  </head>

  <body>
    <header class="admin-header">
      <div class="admin-header__logo"></div>
      <div class="admin-header__component">
        <form action="#" method="GET" style="display: inline">
          <input
            class="admin-header__component-search"
            name="search_box"
            type="text"
            placeholder="검색"
            autocomplete="off"
          />
        </form>
        <a
          href="/admin/logout"
          class="admin-header__component-button"
          style="margin-left: 2rem"
          >로그아웃</a
        >
      </div>
    </header>
    <main
      class="ad"
      style="overflow: hidden; height: 95vh; width: 190rem; clear: both"
    >
      <div class="admin-dashboard">
        <div class="admin-dashboard__left">
          <a href="/admin/members" class="admin-dashboard__left-menu"
            >Members</a
          >
          <a href="/admin/wargame" class="admin-dashboard__left-menu"
            >Wargame</a
          >
          <a
            href="/admin/forum/freeBoard"
            class="
              admin-dashboard__left-menu admin-dashboard__left-menu__selected
            "
            >ForumFreeBoard</a
          >
          <a href="/admin/forum/QnABoard" class="admin-dashboard__left-menu"
            >ForumQnABoard</a
          >
        </div>
        <div class="admin-dashboard__right">
          <div class="admin-dashboard__right-components">
            <h1 class="admin-dashboard__right-components__title">FreeBoard</h1>
            <a href="#" class="admin-dashboard__right-button"
              >게시물 작성 (필요합니까?)</a
            >
            <div class="admin-dashboard__right-list" style="margin-top: 2rem">
              <div class="admin-dashboard__right-list__classes">
                <!-- <p class="admin-dashboard__right-list__classes-item" style="width: 4rem"></p> -->

                <p
                  class="admin-dashboard__right-list__classes-item"
                  style="width: 40rem"
                >
                  제목
                </p>
                <p
                  class="admin-dashboard__right-list__classes-item"
                  style="width: 10rem"
                >
                  작성자
                </p>
                <p
                  class="admin-dashboard__right-list__classes-item"
                  style="width: 20rem"
                >
                  작성일
                </p>
                <p
                  class="admin-dashboard__right-list__classes-item"
                  style="width: 10rem"
                >
                  카테고리
                </p>
                <p
                  class="admin-dashboard__right-list__classes-item"
                  style="width: 10rem"
                >
                  레벨
                </p>
                <p
                  class="admin-dashboard__right-list__classes-item"
                  style="width: 15rem"
                >
                  첨부파일
                </p>
                <p
                  class="admin-dashboard__right-list__classes-item"
                  style="width: 20rem"
                >
                  도구
                </p>
              </div>
              <% posts.forEach(function(post){ %>
              <!-- item -->
              <div class="admin-dashboard__right-list__item">
                <div class="admin-dashboard__right-list__item__target">
                  <p
                    class="admin-dashboard__right-list__item__target-item"
                    style="width: 40rem"
                  >
                    <%= post.title %>
                  </p>
                  <p
                    class="admin-dashboard__right-list__item__target-item"
                    style="width: 10rem"
                  >
                    <%= post.userId.nickname%>
                  </p>
                  <p
                    class="admin-dashboard__right-list__item__target-item"
                    style="width: 20rem"
                  >
                    <%= post.createdAt %>
                  </p>
                  
                  <p
                    class="admin-dashboard__right-list__item__target-item"
                    style="width: 15rem"
                  >
                    <a
                      href="#"
                      class="
                        admin-dashboard__right-list__item__target-item__button-disabled
                      "
                      >다운로드</a
                    >
                  </p>
                  <p
                    class="admin-dashboard__right-list__item__target-item"
                    style="width: 20rem"
                  >
                    <a
                      href="#"
                      class="
                        admin-dashboard__right-list__item__target-item__button
                      "
                      >수정</a
                    >
                    <a
                      href="#"
                      class="
                        admin-dashboard__right-list__item__target-item__button
                      "
                      >삭제</a
                    >
                  </p>
                </div>
              </div>
              <%})%>
            </div>

            <!-- ---------------------- paging ---------------------- -->
            <div class="admin-dashboard__right-paging">
              <% let prevEnabled = paging.currentPage > 1; let nextEnabled =
              paging.currentPage < paging.totalPage; %> <%if(prevEnabled){%><a
                href="/admin/forum/freeBoard?page=<%= paging.currentPage-1 %>&limit=<%=paging.limit%>&search_box=<%=search_box%>"
                class="admin-dashboard__right-paging__item"
                ><</a
              ><%}%> <% for(let i=1; i<= paging.totalPage; i++){%> <%if(i==1 ||
              i==paging.totalPage || (i>=paging.currentPage-2 &&
              i<=paging.currentPage+2)){%>
              <a
                href="/admin/forum/freeBoard?page=<%= i %>&limit=<%=paging.limit%>&search_box=<%=search_box%>"
                class="
                  admin-dashboard__right-paging__item
                  admin-dashboard__right-paging__item-selected
                "
                ><%= i %></a
              >
              <%} else if(i==2||i==paging.totalPage-1){%>
              <a
                class="
                  admin-dashboard__right-paging__item
                  admin-dashboard__right-paging__item-selected
                "
                >...</a
              >
              <%}%> <%}%> <%if(nextEnabled){%><a
                href="/admin/forum/freeBoard?page=<%= paging.currentPage+1 %>&limit=<%=paging.limit%>&search_box=<%=search_box%>"
                class="admin-dashboard__right-paging__item"
                >></a
              ><%}%>
            </div>
          </div>
          <div class="admin-logo">
            <img src="../images/logo_nocolor.svg" alt="" />
          </div>
        </div>
      </div>
    </main>
  </body>

  <script>
    var isMenuOpened = false;
  </script>
</html>
